html {
  font-family: Lato, sans-serif;
}

.darkorange {
  color: #Eb7808;
}

.lightorange {
  color: #E8984A;
}

.lightblue {
  color: #87C6F8;
}

.medblue {
  color: #4591CF;
}

.darkblue {
  color: #1869AC;
}

.bluegrad {
  background-image: linear-gradient(#4591CF, #87C6F8);
}

.orggrad {
  background-image: linear-gradient(#Eb7808, #E8984A);
}

.whitetext {
  color: #fff;
}

.greytext {
  color: #505050;
}

.btn {
  background-color: #Eb7808;
  border-radius: 30px;
  border: 0px solid;
}

.btn:hover {
  background-color: #1869AC;
}

.current {
  color: #Eb7808;
  font-weight: bold;
}

li a {
  color: #87C6F8;
}

li a:hover,
li a:focus {
  color: #1869AC;
}

.banner {
  background-image: url("../images/banner-homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center;
}

.banner-2 {
  background-image: url("../images/banner-adoptpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center;
}

.banner-3 {
  background-image: url("../images/banner-processpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center;
}

.formbkg {
  background-color: #1869AC;
}

.formpage {
  background-color: #fff;
  border-radius: 10px;
}

input,
select {
  border-color: #87C6F8;
  border-radius: 4px;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  border-color: #87C6F8;
  border-radius: 4px;
}

.pad-r {
  padding-right: .5rem;
}

.pad-l {
  padding-left: .5rem;
}

.halfsize {
  width: 25%;
}

.bkgcolorblue {
  background-color: #1869AC;
}

.bkgroundwhite {
  background-color: #fff;
}

.fixdiv {
  width: 48%;
}

.hoverorg-1 {
  background-image: url(../images/dog-1.jpg);
  height: 500px;
  background-size: cover;
  background-position: top center;
  display: block;
  position: relative;
}

.hoverorg-2 {
  background-image: url(../images/dog-2.jpg);
  height: 500px;
  background-size: cover;
  background-position: top center;
  display: block;
  position: relative;
}

.hoverorg-3 {
  background-image: url(../images/dog-3.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}

.hoverorg-4 {
  background-image: url(../images/dog-4.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}
.hoverorg-5 {
  background-image: url(../images/dog-5.jpg);
  height: 500px;
  background-size: cover;
  background-position: top center;
  display: block;
  position: relative;
}

.hoverorg-6 {
  background-image: url(../images/dog-6.jpg);
  height: 500px;
  background-size: cover;
  background-position: top center;
  display: block;
  position: relative;
}

.hoverorg-2:hover {
  background-color: rgba(54, 54, 137, .5);
  transition: all .25s;
}
